.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 20px;
   

}
.about{
    text-decoration: none;
    
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  } */
 .logo{
    text-decoration: none;
 }

@media screen and (max-width: 461px) {
    .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:4px;
    padding-left: 10px;
   
    }
}
